* {
  box-sizing: border-box;
}

.body {
  padding: 0;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.container {
  padding: 10%;
  min-height: 90vh;
}

.selected {
  color: red;
}

.nav {
  /* overflow: hidden; */
  display: block;
  position: sticky;
  bottom: 0;
  width: 100vw;
  padding: 5px 0;
  background-color: white;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

.nav ul li {
  list-style-type: none;
}

.nav ul li a:hover {
  background-color: rgb(161, 161, 161);
}

.button {
  background-color: #028ee6;
  color: white;
  font-family: Roboto Condensed;
  font-size: 1.5em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 70px;
  border-radius: 50%;
  margin-top: 15px;
  border-width: 0px;
}

/* centrar botones (
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
 */
